
process {
    //module = 'singularity'
    executor = 'slurm'
    cache = 'lenient'
    memory = '500MB'
    errorStrategy = { task.exitStatus in [0] ? 'ignore' : task.attempt <= 4 ? 'retry' : 'finish' }
}

executor {
    name = 'slurm'
    queueSize = 300
    queueStatInterval = '10 sec'
    pollInterval = '10 sec'
    submitRateLimit = '10sec'
    exitReadTimeout = '1 min'
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = '-B /vast -B /stornext'
    pullTimeout = '2h'
    libraryDir = '/vast/projects/bahlo_cache/singularity_lib'
}

trace.enabled = true
docker.enabled = false
